[2021-05-13 17:33] dominikbraun opened #4 "`timetrace status` uses current time instead of end time for stopped records"
**The bug**

`timetrace status` uses `<current time> - <start time of the last record>` to determine the worked time. This is correct if the time is being tracked, but incorrect when tracking has been stopped. In that case, `<end time of the record> - <start time of the record>` would be correct.

As a result, if you run `timetrace status` multiple times after stopping time tracking, it looks like

[2021-05-13 19:07] dominikbraun opened #5 "Implement `timetrace list records` command"
Just as `timetrace list projects` displays a list of projects, `timetrace list records` should list records. It probably would make sense to limit those records to a specific date, so that the command syntax looks as follows:

[code]

The output should be a table analogous to `list projects`.

[2021-05-13 19:11] dominikbraun opened #6 "Beautify durations displayed on `timetrace status`"
At the moment, the output of `timetrace status` looks as follows:

[code]

Displaying durations like `8h25m26.147239s` is precise, but unnecessary und unreadable. It should rather look something like `8h 25min`.

[2021-05-14 08:16] #4 closed

[2021-05-14 08:32] Yadasko opened #8 "Timetrace does not handle projects with '/' in the name"
Hey,

I am currently working on multiple subprojects and want to use Timetrace to track my work time on these.

My initial idea was to do something like this : `parentProject/SubProject`, but it confuses Timetrace 😄

![image](https://user-images.githubusercontent.com/1543492/118244178-8dfe8700-b49f-11eb-884e-116482b8d10f.png)

Cheers

[2021-05-14 09:20] #8 closed

[2021-05-14 09:24] dominikbraun commented on #8
@Yadasko Thanks for opening this issue! The fix is contained in [timetrace v0.1.2](https://github.com/dominikbraun/timetrace/releases/tag/v0.1.2).

[2021-05-14 10:01] Yadasko commented on #8
Sweet, thank you for the release!

[2021-05-14 10:09] dominikbraun commented on #8
@Yadasko There was another small fix, so there even is [v0.1.3](https://github.com/dominikbraun/timetrace/releases/tag/v0.1.3) now 😅

[2021-05-14 12:02] cmarcond opened #11 "Project doesn't stop counting time"
![timetrace-bug](https://user-images.githubusercontent.com/8661227/118267896-0c086100-b493-11eb-8c98-c6068dcb2154.jpg)

[2021-05-14 12:04] cmarcond commented on #11
I delete the project and timetrace status is still displaying the project and time.

[2021-05-14 12:48] dominikbraun commented on #11
Thanks for opening this issue! I think those status-related issues have been fixed with [v0.1.4](https://github.com/dominikbraun/timetrace/releases/tag/v0.1.4). If you're using Homebrew, run `brew upgrade timetrace` and try again.

[2021-05-14 13:32] sachindavra commented on #6
Hi @dominikbraun, May i know in which language it is written?

[2021-05-14 13:51] dominikbraun commented on #6
Hi, timetrace is written in Go. For example, this is the place where the table shown above is being printed:

https://github.com/dominikbraun/timetrace/blob/16b10a97b594a7e73145096e84b6fb9672048df2/cli/status.go#L32-L46

[2021-05-14 14:19] sachindavra commented on #6
Sorry @dominikbraun, i am not much familiar with Go.
I know python only.

[2021-05-14 14:21] dominikbraun commented on #6
Nevermind 😄

[2021-05-15 09:06] dominikbraun opened #12 "Change output of `timetrace version`"
At the moment, the output of `timetrace version` looks as follows:

[code]

This error-styled output should be replaced with an info-styled output, which can be accomplished by replacing `out.Err` with `out.Info`:

https://github.com/dominikbraun/timetrace/blob/16b10a97b594a7e73145096e84b6fb9672048df2/cli/version.go#L13-L15

[2021-05-15 09:09] dominikbraun opened #13 "Implement `timetrace delete record` command"
Just like a record can be displayed using `timetrace get record <YYYY-MM-DD-HH-MM>`, a record should be deletable using `timetrace delete record <YYYY-MM-DD-HH-MM>`.

This means that the `delete` command should get a new sub-command called `record`, which takes the record date as argument - and there needs to be a `DeleteRecord` method of `core.Timetrace`.

The documentation needs to be updated as

[2021-05-15 09:15] dominikbraun opened #14 "`timetrace status` doesn't work if there was no time tracking yet"
Running `timetrace status` leads to an error if time hasn't been tracked on that day yet:

[code]

This is because the record directory of that day, in this case `2021-05-15`, hasn't been created yet. It will be created when running `timetrace start`.

To fix this,  `Fs.EnsureDirectories` should also create a record directory for the current day:

https://github.com/dominikbraun/timetrace/blob/16b

[2021-05-15 12:08] dominikbraun opened #15 "Beautify output of tables"
Thanks to tablewriter, tables already look pretty good! However, the `out.Table` function could be improved: tablewriter allows to [stylize and colorize tables](https://github.com/olekukonko/tablewriter#table-with-color). I think it would be nice to have at least **bold** table headings.

To do this, `table.SetHeaderColor` needs to be called here:

https://github.com/dominikbraun/timetrace/blob/16

[2021-05-15 20:34] dominikbraun opened #17 "Make command argument syntax sensitive for configuration"
For example, the `get record` command has the following syntax:

https://github.com/dominikbraun/timetrace/blob/16b10a97b594a7e73145096e84b6fb9672048df2/cli/get.go#L53-L56

Actually,  `YYYY-MM-DD-HH-MM` is only the default syntax. If the user has set `use12hours: true` in their config, the expected format is  `YYYY-MM-DD-HH-MMPM` instead, as you can see here:

https://github.com/dominikbraun/timet

[2021-05-15 21:38] KonstantinGasser commented on #14
Hi, cool tool - Can I have a look at the issue and create a PR?

[2021-05-15 21:48] dominikbraun commented on #14
Of course! Just run the commands like `go run . status` locally for development.

[2021-05-16 06:28] #14 closed

[2021-05-16 07:43] dominikbraun opened #19 "Implement `timetrace edit record` command"
Just as projects are editable via `timetrace edit project`, records should be editable using `timetrace edit record`. The command syntax should look just like the syntax of `timetrace get record`:

[code]

* Running `edit` without any options should open the default editor to directly edit the record file (see `edit project`).
* Running `edit` _with_ options should load the record internally, appl

[2021-05-16 08:48] dominikbraun commented on #19
An open question would be how `--plus` operations are handled if the calculated end time lies within the timespan of another record.

[2021-05-16 10:41] KonstantinGasser commented on #6
How should seconds be handled? if `timetrace status` is triggered while the duration is still under 1 minute should the time displayed be  for example `12sec` or displayed as `0h 0min` until the `duration is >= 60` seconds? Also if no full hour is reached yet would the output then be `0h 24min` or only `24min`?

[2021-05-16 11:15] dominikbraun commented on #6
In general, timetrace's smalles unit are minutes. A record started at `12:00:05` will be the same fail as a record started at `12:00:40`. But perhaps it would make sense to display the seconds for convenience in this case. Maybe `0h 0m 12s` if `duration < 60s` and otherwise just `0h 1m`?

I'd suggest `0h 24m` in that case.

[2021-05-16 12:45] KonstantinGasser commented on #6
I mean probably not many will do a `status` right away but `0h 0m 12s` would then stick to the other conventions. If > 60 seconds I agree dropping the seconds to only have `0h 1min` makes sense!

Ok I will have a look at the functions and what needs to be done.

[2021-05-16 16:49] danih0311 opened #21 "`--billable` filter for record list"
It would be nice to filter the listed records so that only billable records will be displayed:

[code]

[2021-05-16 19:50] dominikbraun commented on #5
Closed by #16.

[2021-05-16 19:50] #5 closed

[2021-05-17 00:26] rknizzle opened #23 "Include project name in records list"
I think the output of `timetrace list records YYYY-MM-DD` would be more useful if the project name was included in the output table

Current output of `timetrace list records YYYY-MM-DD`:
<img width="232" alt="Screen Shot 2021-05-16 at 7 59 30 PM" src="https://user-images.githubusercontent.com/40612461/118417265-47688280-b681-11eb-9517-2bb654f6995c.png">

Desired output:
<img width="349" alt="Scre

[2021-05-17 05:53] dominikbraun commented on #23
This totally makes sense, thanks for filing this issue.

[2021-05-17 06:12] #23 closed

[2021-05-17 06:13] #13 closed

[2021-05-17 13:13] dominikbraun opened #27 "`timetrace stop` prints success message even if there is no tracking"
**Description:**

If there is no active time tracking, `timetrace stop` still prints a success message that tracking has been stopped.

**Steps to reproduce:**

1. Start tracking time.
2. Stop tracking time.
3. Stop tracking time again: `✔️ Stopped tracking time`

**Expected behavior:**

If there is no active time tracking, `stop` should do nothing. There should be an info (probably not an error?)

[2021-05-17 14:02] dominikbraun opened #28 "`timetrace list records` should include "record key""
The table displayed by `timetrace list records` should contain a new column "key". This should be the "record key" in the form `YYYY-MM-DD-HH-MM` - i.e. the exact value that you would pass to `timetrace get record` to display that record.

[2021-05-17 14:08] dominikbraun opened #29 "`timetrace delete record`: Display record and ask for confirmation"
When running the `timetrace delete record`, the record to delete should be displayed (just as `get record` does), and the user should be asked for confirmation with a yes/no question.

The confirmation should be skippable by providing a `--yes` flag.

[2021-05-17 14:20] dominikbraun opened #30 "Introduce `today` and `yesterday` aliases for commands"
Instead of writing `timetrace list records 2021-05-17` every time, I'd like to be able to just write `timetrace list records today`.

This means there should be aliases called `today` and `yesterday` that translate those arguments to the respective dates.

[2021-05-18 05:15] dominikbraun commented on #6
Closed by #20.

[2021-05-18 05:15] #6 closed

[2021-05-18 08:54] dominikbraun opened #36 "Remove hard-coded `"15:04"` strings"
At some places in the code base, there is the hard-coded time string `"15:04"`. This should be replaced with a `defaultTime` constant which should be used instead. Plus, if `Timetrace.Config().Use12Hours` is `true`, that default constant should be replaced with `03:04PM`.

[2021-05-18 09:25] dominikbraun opened #38 "Introduce `--revert` flag for `timetrace edit` and `timetrace delete` commands"
There should be a new `--revert` flag for `timetrace edit project`, `timetrace edit record` (once it is implemented through #19), `timetrace delete project` and `timetrace delete record`.

If the `--revert` flag is specified, the edited/deleted project/record should be restored. This means that the `edit` and `delete` commands also need to create a backup file before modifications are performed. T

[2021-05-18 11:45] aaronsheah commented on #36
Hi @dominikbraun wanted to get into contributing to open source, will give this a try this week

[2021-05-18 13:51] dominikbraun opened #39 "Setup Dependabot"
To keep dependencies up-to-date, Dependabot should be [configured](https://docs.github.com/en/code-security/supply-chain-security/configuration-options-for-dependency-updates).

I'd suggest a configuration file similar to the one of [verless](https://github.com/verless/verless/blob/master/.github/dependabot.yml).

[2021-05-18 21:01] #15 closed

[2021-05-18 21:02] aligator opened #41 "Support for Clockify"
Support for [Clockify](https://clockify.me/) would be great. There exists an [API](https://clockify.me/developers-api) for it.

[2021-05-18 21:15] dominikbraun commented on #29
Deleted by #37.

[2021-05-19 05:51] #29 closed

[2021-05-19 05:55] dominikbraun opened #42 "`timetrace config` command"
At the moment, to get and set configuration values, users have to create a `config.yaml` file inside their `.timetrace` directory and set the values manually.

It would be nice to have a `timetrace config` command with two sub-commands to do this:

* `timetrace config set <KEY> <VALUE>`
* `timetrace config get <KEY>`

This way, users wouldn't have to touch their configuration file anymore.

[2021-05-19 07:25] Eddie023 commented on #42
Hi @dominikbraun, I would like to work on this issue.

[2021-05-19 08:06] dominikbraun opened #43 "Add "padding" to table headers"
Currently, tables look as follows:

<img width="342" alt="Bildschirmfoto 2021-05-19 um 10 02 26" src="https://user-images.githubusercontent.com/36575275/118777442-5de12a80-b889-11eb-8a7b-02379e72693e.png">

Those headers are nice, but there should be a padding so that they look like so:

<img width="405" alt="Bildschirmfoto 2021-05-19 um 10 03 34" src="https://user-images.githubusercontent.com/365

[2021-05-19 08:45] #21 closed

[2021-05-19 12:52] #36 closed

[2021-05-19 19:58] #12 closed

[2021-05-19 20:17] aligator commented on #27
For me this works without any problem

[2021-05-20 08:59] FelixTheodor commented on #19
Hello, I would like to work on this issue :)

[2021-05-20 12:59] #43 closed

[2021-05-20 13:00] dominikbraun commented on #30
Resolved by #32.

[2021-05-20 13:00] #30 closed

[2021-05-20 13:38] dominikbraun opened #52 "Implement `--project` filter for `timetrace list records`"
The `timetrace list records` command should have a `--project <KEY>` filter flag to only display records for the given project - similar to `--billable`.

[2021-05-20 14:06] dominikbraun opened #53 "Proposal: Project modules"
_Project modules_, also known as sub-projects, are a frequently requested feature. This is my proposal on how to implement them.

## Proposal

**The idea**

Project modules are the exact same thing as projects, expect that they can be associated with a parent project. This association is marked by an `@`. For example, `grind-beans@make-coffee` is a module of the project `make-coffee`.

**Creating

[2021-05-20 21:39] aligator commented on #53
Nice idea

[2021-05-21 05:24] joshuaherrera opened #55 "12 hour format does not differentiate between AM and PM"
Hi,
In working on issue #17 in version 0.4.0, I noticed that, when 12 hour time format is configured with config.yaml, one must always pass in the PM portion of the flag, even if the time logged was in the AM, as shown.

![timetrace-time-format](https://user-images.githubusercontent.com/25521908/119086150-eb239c80-b9b9-11eb-8954-fd553c40266b.png)

It seems to me the command should allow for the us

[2021-05-21 07:28] #39 closed

[2021-05-21 12:24] bu4ak opened #56 "Installation error"
If you follow the instructions:
[code]

[code]

### Info:

- snap    2.50
- snapd   2.50
- series  16
- ubuntu  18.04
- kernel  4.15.0-143-generic

[2021-05-21 12:35] dominikbraun commented on #56
I think the correct command is this, since timetrace is still in `devmode`:

[code]

The docs need to be updated accordingly until timetrace is stable.

[2021-05-21 12:59] commarla opened #57 "Total time spent on a project ?"
Hi,

Nice tool! Maybe I didn't RTFM correctly but I can't find a way to display the total time spent on a single project ?

Is this implemented or will it be ?

Thanks,

[2021-05-21 13:01] dominikbraun commented on #57
There's issue #52 for filtering `timetrace list records` by projects - I guess this will be implemented soon. Plus, the `timetrace record` command is on the road :-)

[2021-05-21 13:30] commarla commented on #57
Nice, thanks !

[2021-05-21 14:24] dominikbraun opened #58 "Include total tracked time in `timetrace list records`"
`timetrace list records` lists all records of a given date. I think it would make sense to summarize the total tracked time at the bottom of the table.

The table should look like this: https://github.com/olekukonko/tablewriter#example-2---without-border--footer--bulk-append

[2021-05-21 15:00] joshuaherrera commented on #55
Hi @dominikbraun, I'd like to take on this issue.

[2021-05-21 18:34] #56 closed

[2021-05-22 06:05] joshuaherrera commented on #55
@dominikbraun After looking into it, this was user error on my part. When testing with AM time, I changed the values within the "start" and "end" keys under $HOME/.timetrace/records/2021-05-20, but I did not change the .json filename, since I did not realize the name of the file was how the records were retrieved. Apologies!

[2021-05-22 06:05] #55 closed

[2021-05-22 06:34] dominikbraun commented on #55
Nevermind, #51 will implement the `timetrace edit record` command for that cases.

[2021-05-22 07:27] dominikbraun opened #60 "`timetrace list projects`: Display project modules"
**Regarding Proposal #53:**

The `timetrace list projects` command shall not only list projects and project modules row-by-row, e.g.:

|#|Key|
|-|-|
|1|make-coffee|
|2|grind-beans@make-coffee|
|3|brew-coffee@make-coffee|

Instead, modules should be listed as part of their respective project:

|#|Key|Modules|
|-|-|-|
|1|make-coffee|grind-beans, brew-coffee|

This should be relatively easy to implem

[2021-05-22 08:28] dominikbraun commented on #60
Note: A function `loadProjectModules` has been implemented by #61.

[2021-05-22 11:44] Eddie023 commented on #42
@dominikbraun Few questions regarding this issue. Here is my approach of solving this issue. let me know what you think.

1. Create a `userConfig` file in `config/` dir and upon each `timetrace config set <KEY> <VALUE>` command upsert the KEY VALUE.
2. If the `userConfig` file is available then add some functionality like [merge-deep-left](https://ramdajs.com/docs/#mergeDeepLeft) to override with`

[2021-05-22 12:09] dominikbraun commented on #42
@Eddie023 Your approach is fine, but you don't even need to introduce a new `userConfig` file because there already is `config.yaml`:

https://github.com/dominikbraun/timetrace/blob/2ba16af166c1bbb0bb032d38d19ee4cb157fa40e/config/config.go#L16-L48

Yes. I think that this could even be done using `timetrace config get` without an argument. You could simply display all fields of `config.Config` to d

[2021-05-22 15:40] obnoxiousnerd commented on #58
I haven't thought of a plan right now but I am willing to work on this.

[2021-05-22 16:59] FelixTheodor commented on #60
Hey, I would like to work on this :)

[2021-05-22 17:18] #28 closed

[2021-05-22 17:27] dominikbraun opened #64 "Don't return an error on `timetrace status` with no active tracking"
At the moment, running `timetrace status` when there's no active time tracking will return an error:

[code]

This shouldn't be an error. Maybe `out.Info` would be a better fit here.

[2021-05-22 18:34] dominikbraun commented on #52
Resolved by #62.

[2021-05-22 18:34] #52 closed

[2021-05-22 18:35] dominikbraun commented on #17
Resolved by 54.

[2021-05-22 18:35] #17 closed

[2021-05-22 20:19] aaronsheah commented on #38
Curious what you @dominikbraun envision this to be, for example:
* how far back can I `--revert` would it just be the last action?
* if I `edit`, `delete` then `edit --revert` im guessing for this case it will not work

[2021-05-22 20:30] dominikbraun commented on #38
* Yes, just the last action. It should roll back to the state before the previous `edit` command has been issued.
* That depends on whether the same backup file is used by `edit` and `delete`. If they use the same backup, an `edit --rollback` could indeed restore a deleted file if I'm not missing something.

[2021-05-22 20:55] aaronsheah opened #66 "Migrate to `promptui` (or a more interactive cli)"
Just a suggestion, we could move to use a more interactive cli library. This might be useful for example where you can run `timetrace start` without arguments and you can use arrow keys to select the project you would like to start.

What do you think? I can come up with a proof of concept first before we decide.

[2021-05-22 20:55] aaronsheah commented on #66
@dominikbraun what do you think?

[2021-05-22 21:03] dominikbraun commented on #66
Not a bad idea for sure. @aligator recently suggested using [bubbletea](https://github.com/charmbracelet/bubbletea) - maybe we could compare the two.

[2021-05-22 21:19] aaronsheah commented on #66
@dominikbraun oooo bubbletea looks good too. best way to compare imo is a PoC for https://github.com/charmbracelet/bubbletea and https://github.com/manifoldco/promptui
will look into this 😄

[2021-05-23 00:38] aaronsheah commented on #66
looks like the main difference is that `bubbletea` is a whole replacement for `cobra`, whereas `promptui` is specifically for capturing user inputs. I think for now we can go with minor improvements for applicable commands with `promptui`, will have a draft PR up soon 😄

[2021-05-23 09:20] dominikbraun opened #68 "`timetrace edit record` panics when there is no end time of the latest record"
Currently, running `go run . edit record` will panic in case the latest record has not been stopped yet - because in that case, the record's `End` field is `nil`. Editing a record using the `--plus` and `--minus` options should _not_ be allowed if the latest record has no end yet.

[2021-05-23 09:54] adzo261 commented on #68
Hi, I would like to do this one.

[2021-05-23 10:20] adzo261 commented on #68
1. I think handling the error before we access the `End` property of the `Record` struct will do.

    Potentially, adding this if block in the corresponding `if-else` blocks.:
[code]

2. Also, do you think, we should extract the contents of the `if-else` blocks into a local function? Since both are doing the same things essentially.
https://github.com/dominikbraun/timetrace/blob/9558282d72fdea96b

[2021-05-23 10:39] aligator commented on #66
Nice, didn't knew `promptui` yet. They seem both to be very interesting. But I haven't done anything with bubbletea either, yet. So I don't know how much more work it would be.

Looking forward to your PR :-)

[2021-05-23 12:14] dominikbraun commented on #68
1. Yes, that `if` block should be sufficient.
2. I also thought about that. Feel tree to create a new function for that piece of logic. 😄

[2021-05-23 12:46] aligator commented on #41
I will build a POC for this. As we discussed already the logic for clockify shouldn't be in this project directly. So the idea is to build a separate timetrace binary which just uses timetrace as a lib and extends it with the clockify functionality.
We will see if there need to be changes in timetrace itself to allow this properly.

[2021-05-23 14:01] FelixTheodor opened #71 "Introduce "latest" or "last" alias for `edit record` command"
Since the editing of records will probably often used for the last stopped record, I would propose to introduce an alias in a similar way as #30 for  `edit record` .

If you like the idea @dominikbraun , you can assign me this issue :)

[2021-05-23 14:04] dominikbraun commented on #71
I like the idea 😄

[2021-05-24 06:13] dominikbraun opened #72 "Prevent users from creating modules for non-existent projects"
Currently, creating project modules like `grind-beans@make-coffee` is possible even if the parent project, `make-coffee`, doesn't exist. This shouldn't be allowed and throw an error instead.

More information about project modules and their design can be found in proposal #53.

[2021-05-24 13:14] FelixTheodor opened #74 "Update `delete project` to also remove submodules of the project"
Another thing that just came to my mind regarding #72 and #53 is that `delete project` should probably also delete all submodules of the project, right? Otherwise we could again run into problems with "parentless"-modules.

[2021-05-24 13:37] dominikbraun commented on #74
Yes, this is a remaining ToDo 👍

[2021-05-25 05:03] joshuaherrera opened #78 "Command ```create project <key>``` is not checking for existing projects correctly"
Running the ```create project <key>``` is not checking for existing projects correctly, even though there is code to handle this case.
I'm running Manjaro Linux, in case this is an issue with how the os package interacts with linux, and I tested on timetrace 0.5.0.
![timetrace_dupes_project](https://user-images.githubusercontent.com/25521908/119441807-98a8ef80-bcdb-11eb-89dd-1455e29c9029.png)

Per

[2021-05-25 05:52] joshuaherrera commented on #38
@dominikbraun I'd like to tackle this issue if @aaronsheah is not actively working on this.

[2021-05-25 07:06] dominikbraun commented on #78
Could reproduce this issue with timetrace 0.5.0 on macOS 11.3.

[2021-05-25 07:37] aaronsheah commented on #38
@joshuaherrera go for it 👍

[2021-05-26 05:45] #68 closed

[2021-05-26 05:47] #64 closed

[2021-05-26 05:47] #71 closed

[2021-05-26 06:21] joshuaherrera opened #81 "command `timetrace edit project <key>` does not rename file"
Currently, when a user edits a project using `timetrace edit project <key>` the text editor is opened so the user can change the key.
It seems to me that any subsequent calls to this command should reference the new key, but trying to run this command this way causes the file to not be found.
![editproj](https://user-images.githubusercontent.com/25521908/119611268-4fc26b00-bdaf-11eb-904f-1e2cfd60f

[2021-05-26 06:47] dominikbraun commented on #81
Good point, thanks. There are two solutions:
* Automatically rename the file to the key after editing the record.
* Introduce a `--rename` flag explicitly for renaming projects and changing the filename there.

@aligator PTAL

[2021-05-26 07:50] dominikbraun commented on #19
Resolved by #51.

[2021-05-26 07:50] #19 closed

[2021-05-26 07:59] dominikbraun opened #84 "Look for a way to auto-generate documentation for commands"
I'd love to auto-generate the documentation for commands from the `cobra.Command.Long` help text and the command's options. Maybe there's some cool way to do this?

[2021-05-26 07:59] dominikbraun commented on #78
Resolved by #79.

[2021-05-26 07:59] #78 closed

[2021-05-26 08:32] piddyt-fambyt opened #85 "Failed to stop tracking time"
Hi there,

thanks for the project. It looks nice.
However I encountered a bug trying to stop tracking:

[code]
timetrace status works fine.

The json looks like this:
[code]

I use timetrace version 0.6.0 on Windows 10.

[2021-05-26 09:08] dominikbraun commented on #85
Can confirm this bug with timetrace v0.6.0 on macOS 11.3.

[2021-05-26 09:14] dominikbraun commented on #85
This bug has been fixed with [release 0.6.1](https://github.com/dominikbraun/timetrace/releases/tag/v0.6.1). Just download the latest release,`timetrace stop` should work again.

[2021-05-26 14:01] obnoxiousnerd commented on #84
Cobra includes command generation. Here are the docs:
https://github.com/spf13/cobra/blob/master/doc/README.md
https://github.com/spf13/cobra/blob/master/doc/md_docs.md

I will definitely play with that a bit and get back here!

[2021-05-26 14:15] obnoxiousnerd commented on #84
I tried generating some docs, and it works:

Generated docs:

1. Index documentation
![image](https://user-images.githubusercontent.com/52596591/119674958-4215ef80-be5a-11eb-8830-ea0c8cd15123.png)

2. Document of a command
![image](https://user-images.githubusercontent.com/52596591/119675034-4e9a4800-be5a-11eb-8813-199de5f30131.png)

3. Documentation of a subcommand
![image](https://user-images.gi

[2021-05-27 05:14] dominikbraun commented on #84
Wow, thanks! This looks exactly like what I've been looking for. I'm going to open some issues for implementing this 😄

[2021-05-27 10:32] dominikbraun opened #87 "Copy command reference into Go files, e.g. `list.go`"
The goal of #84 was to find a way to auto-generate documentation out of the Cobra commands. @obnoxiousnerd found a simple way to do this natively with Cobra. Thanks!

As a next step, the command references from `README.md` should me copied into the Cobra commands. Each Cobra command has a `Long` field for long help texts, and the existing documentation should be moved into that field.

Ideally, as

[2021-05-28 05:25] dominikbraun commented on #11
So this should be fixed now. Feel free to re-open the issue if it occurs again.

[2021-05-28 05:25] #11 closed

[2021-05-28 12:02] dominikbraun opened #88 "Ideas for `timetrace report`"
I'm planning for a `timetrace report` command which should generate a report of the tracked time. This issue is a small idea collection for the new command.

[2021-05-28 12:06] dominikbraun commented on #88
* Reports should be exportable as JSON.

[2021-05-28 12:13] dominikbraun commented on #88
* There should be a `--billable` flag to generate reports only for billable records.

[2021-05-28 12:26] KonstantinGasser commented on #88
Does the  report needs to follow a specific structure in order to be import it into some other software? If so, providing CSV output might also be useful in addition to JSON, right?
`timetrace report`  where the default could be JSON and  `report` can have a `csv` flag?

[2021-05-28 12:51] KonstantinGasser commented on #88
Ok I see.
If `timetrace start project` has not been stopped yet should this ongoing period be ignored in the report or be included?
I guess another question would be whether the user defines the output directorty/file or if the report.json/csv will be stored in a `~/.timetrace` directory?

[2021-05-28 12:53] dominikbraun commented on #88
Good questions - especially the latter one should be discussed.

[2021-05-28 12:59] KonstantinGasser commented on #88
Since `timetrace` provides an interface to its config one other option could be to let the user change the lets say `report-dir` config field to whatever directory. The default could be in for example the `~/.timetrace/reports` directory?

[2021-05-29 04:15] obnoxiousnerd commented on #88
I think it would make sense to give an alert about the ongoing tracking and then tell them to stop tracking before creating the report.

[2021-05-29 04:24] joshuaherrera commented on #88
I like the idea. I'd imagine we could implement different commands / flags to customize the created report.
We could use a `--project <key>` flag to grab all time logged on a project, or filter the report by time, e.g. a `--month <month>`, `--week <weekNumber>` or use a combination of `--start` and `--end` flags to get all time tracked for the month or week, or within some time frame,  irrespectiv

[2021-05-29 05:07] joshuaherrera opened #89 "Command `timetrace edit record <key> does not rename file"
Similar to issue #81 , the `timetrace edit record <key>` command does not rename the file. This shouldn't be an issue when we pass either the `--plus` or `--minus` flags, since these edit the end times, but without those flags, the user can edit the json file and potentially change the start time, which is the key for a record. The documentation recommends using `timetrace list records` in conjunc

[2021-05-29 05:53] dominikbraun commented on #89
Thanks for opening this issue! Since the issue that proposed the `edit record` command stated that only the end time should be changed with `--plus` and `--minus` and the behaviour of `edit` without flags hasn't been specified, I labeled this as an enhancement and not a bug.

You're right that it is the same problem as with #81. I think we should take the same approach for both issues.

[2021-05-29 05:55] dominikbraun commented on #88
Yes, we could introduce a config value for that, or an `--output`/`-o` flag, or even both.

[2021-05-29 15:38] FelixTheodor opened #91 "Proposal: Add `notify` command"
I just stumbled across this project: https://github.com/gen2brain/beeep
It makes sending notifications to the user very easy. Then I had an idea - my main concern with time-tracking software is that I always forget the tracking when I'm in the middle of something.
Therefore, it could be a useful feature for timetrace if the user can set a timer to get a notification when the current task he is tra

[2021-05-29 16:08] KonstantinGasser commented on #88
@dominikbraun I would be happy to implement a first proposal if that's ok.

[2021-05-29 16:34] dominikbraun commented on #91
I really like the idea! Didn't have the time to view the implementation yet, but it sounds pretty good.

There are at least some requested features that make sense but shouldn't go into the timetrace binary directly, for example #41. This is why I'm planning to support extensions for timetrace (though I'm not yet sure which mechanism I'm going to choose for this). Maybe the notify feature would be

[2021-05-30 09:44] #60 closed

[2021-05-30 09:45] #72 closed

[2021-05-30 15:52] KonstantinGasser commented on #88
@dominikbraun for clarification I have one more question. The generated report is only for one project, right? So the user would call the command with the project name like so `report <ProjectKey>` and the report would hold all recorded records for this project? Or would `report` hold a list of all projects with its records?

[2021-05-30 16:28] dominikbraun commented on #88
Both use cases would make sense: Generating a report of all projects I've been working on from date X to date Y, as well as generating a report for a particular project.

Maybe it would be sufficient to generate a report for all projects by default and generate a report for a single project using a `--project` flag?

[2021-05-30 16:36] KonstantinGasser commented on #88
Yes I feel this would be intuitive to have the `---project` flag and else make a report for all records between the time frame.
When it comes to the json output do you have anything special in mind here or would the following json ok?
For all project: `{key_1: [{},{}], key_2:[{},{}]...}`
For one project `{key: [{},{}]}`

[2021-05-30 16:51] dominikbraun commented on #88
Yes, that should work if I'm not missing something 😄

[2021-05-30 21:13] nymann opened #94 "Add --format optional arg"
Hey, thanks for this awesome tool! Makes the time tracking part of my life easier :+1:

Right now I have the current task that I am working on in my status bar.

[code]

And this works, but it would be nice to add a format parameter to `timetrace status` to  fx format the output as JSON, which is easier to work with in scripts :-)

[2021-05-31 03:57] joshuaherrera opened #95 "Command `timetrace edit record latest` panics if the user has no records logged for today"
Running `timetrace edit record latest` when a user has not logged any time today causes the program to panic, image attached. Note, I did have valid records from the day prior, so I imagine it should have grabbed the record from yesterday, but it looks like the code assumes the newest directory in ~/.timetrace/records will contain time logs.
![panic](https://user-images.githubusercontent.com/25521

[2021-05-31 05:42] dominikbraun commented on #89
So this is my suggestion to solve this:
1. When `edit record` is run without options for directly editing the record, load the record internally first.
2. Store the record's start time.
3. When the user has finished editing and the start time has changed, rename the file accordingly.

It probably would also make sense to warn the user before the editor opens:

[code]

[2021-05-31 05:48] dominikbraun opened #97 "Implement `timetrace create record` command"
Sometimes, it would make sense to directly "insert" a new record with a given time span instead of fiddling around with `timetrace edit record` on existing records.

To do so, a `timetrace create record` command is needed. I have the following syntax in mind:

[code]

**Important:** This command should check for collisions with other records, so probably all records from that date have to be loade

[2021-05-31 05:50] dominikbraun commented on #53
Basic module support has been introduced with [timetrace v0.7.0](https://github.com/dominikbraun/timetrace/releases/tag/v0.7.0).

[2021-05-31 08:16] KonstantinGasser commented on #88
@dominikbraun I am almost done with this issue I just wanted to cross check the results with you and clarify one question.

When it comes the to output table I included a total time for each project. However, I am not sure whether each record-row in the table needs to display its total. Below I have three tables as an example. (for the project `timetest` I forgot to stop the tracking that's why it

[2021-05-31 08:27] dominikbraun commented on #88
Thanks, @KonstantinGasser! I'd also prefer the last one as it is the cleanest and simplest approach.

Tablewriter also supports table footers: https://github.com/olekukonko/tablewriter#example-2---without-border--footer--bulk-append Maybe there is a way to make use of this? In the current state of `main`, `out.Table` supports footers.

[2021-05-31 08:35] KonstantinGasser commented on #88
@dominikbraun Cool I fetched the latest main and will try it out! Preferable would be to have a cell merging for each project and each project again as a "footer" with its total + a "group" total of all projects at the end, right?

[2021-05-31 08:39] dominikbraun commented on #88
Yes, something like this. But you're totally free to choose the best looking variant 😎

[2021-05-31 08:42] KonstantinGasser commented on #88
Ok I will experiment a little 😄

[2021-05-31 11:01] dominikbraun opened #98 "Add `break since start` field to `timetrace status`"
The `timetrace status` command prints how long I've been working today. It would be nice to see how long I've been taking breaks since the beginning of my day. For example:

[code]

[2021-05-31 19:50] joshuaherrera commented on #89
@dominikbraun Very well though out solution to this, I like it :+1:

[2021-06-01 08:25] dominikbraun opened #101 "Move `Format*` functions into `Formatter`"
There are some `Format*` functions in `timetrace.go`:

https://github.com/dominikbraun/timetrace/blob/bf934a8e337aac5d955cd9368068a728e823b3f3/core/timetrace.go#L180-L190

Those functions should be part of the `Formatter` type in `formatter.go`. Once those functions are moved, they can then be called with `t.Formatter().FormatXxx` from the `cli` package.

[2021-06-01 09:51] dominikbraun commented on #95
Which timetrace version do you have? For some reason, I don't get this error:

[code]

[2021-06-01 13:28] joshuaherrera commented on #95
@dominikbraun I had this error on version 0.7.0. Was your records directory for 06/01 empty?

[2021-06-01 13:32] dominikbraun commented on #95
Nevermind, I think I tried to reproduce the error the wrong way - I didn't clean up the record directory but renamed it instead.

[2021-06-02 06:51] #95 closed

[2021-06-02 07:42] dominikbraun commented on #91
@aligator Any updates on the extension architecture?

[2021-06-04 12:23] FelixTheodor commented on #91
Glad that you like the idea!

This feature can of course be a candidate for an extension, so if you think that's the most clear way to do it we should go for it :)
However, I'm curios about your reasoning - #41 seems to change a lot of things under the hood for already existing commands, so I can see why it works better as an extension.
But the `notify` command would just add functionality "outsid

[2021-06-04 12:49] dominikbraun commented on #91
In general, I'm not against including the notification feature in the timetrace binary. The idea more was that if there's an easy way to provide extensions, all functionality that goes beyond the stateless, fire-and-forget `timetrace` command could be provided as such an extension.

[2021-06-04 14:59] FelixTheodor commented on #91
Thanks for the explanation!

Since I'm curious how extensions would look like on a technical level, I won't mind to provide this feature as one. I agree that its a matter of taste. On the long run, one could even take a look at download statistics of the extension and decide based on that if something is popular or important enough to go into the main binary :)

[2021-06-04 17:56] udayravuri opened #102 "Error: Failed to start tracking"
Hi,
After creating a project as per README usage instructions, whenever I try to start tracking I get this error on Mac:
$ timetrace start coding
❗ Failed to start tracking: start tracking first

Please advise. Thank you!!

[2021-06-04 18:07] dominikbraun commented on #102
Thanks for your bug report. Which timetrace version do you have installed? In case you're using Homebrew, use `brew upgrade timetrace` to make sure you have the latest version.

---

@joshuaherrera: This probably comes from `Start` calling `LoadLatestRecord`, which returns an `ErrTrackingNotStarted`:

https://github.com/dominikbraun/timetrace/blob/a17401f599296ada2e5a4f03dfd383a66155f590/core/reco

[2021-06-04 18:09] udayravuri commented on #102
I barely installed, so hoping it installed the latest version. But let me try upgrading as you suggested.

[2021-06-04 18:11] udayravuri commented on #102
Still the same issue:
Warning: dominikbraun/timetrace/timetrace 0.7.1 already installed
ELSM:~ ut$ timetrace start coding
❗ Failed to start tracking: start tracking first
ELSM:~ ut$

[2021-06-04 18:20] dominikbraun commented on #102
Alright, I could reproduce the issue. I'm going to come up with a patch release shortly.

[2021-06-04 18:22] udayravuri commented on #102
Thank you very much @dominikbraun .
Looks like from the code pasted above by you and @joshuaherrera , it's looking for Records.
But it doesn't look like it has any in store after creating a fresh project, as seen below at least:
ELSML03UR088T:~ ur088t$ timetrace list projects
+-----+------------------+-----------+
|  #  |       KEY        |  MODULES  |
+-----+------------------+-----------+
|   1

[2021-06-04 18:23] dominikbraun commented on #102
Exactly. `t.latestNonEmptyDir` returns `ErrAllDirectoriesEmpty` since there are no records yet, which results in an `ErrTrackingNotStarted`.

[2021-06-04 18:25] joshuaherrera commented on #102
Yea I just looked into this and noticed the same thing. I don't think we'd need to account for this error when a user starts logging time, maybe we can just ensure the error returned is not `ErrTrackingNotStarted` ? It seems like we just load a record to ensure that the latest timelog has ended.

[2021-06-04 18:26] dominikbraun commented on #102
@joshuaherrera Could you maybe review #103? This solves the problem for me, but I'm not sure whether it will have unwanted side effects.

[2021-06-04 18:28] joshuaherrera commented on #102
Yes I will review.

[2021-06-04 18:32] KonstantinGasser commented on #102
I also found a solution checking for the error in the timetrace.Start() func
[code]
the variable `latestRecord` is only required for checking if a tracking is currently ongoing. #103 changes the logic  the function name would suggest with `LoadLatestRecord` where if all `dirs` are empty the error seems to be appropriate.

[2021-06-04 18:41] dominikbraun commented on #102
Good point, I even prefer this solution as it avoids unknown side effects. I updated #103 accordingly.

[2021-06-04 19:07] dominikbraun commented on #102
@udayravuri @joshuaherrera @KonstantinGasser Thanks everybody, the fix is contained in [release 0.7.2](https://github.com/dominikbraun/timetrace/releases/tag/v0.7.2).

@udayravuri You can now run `brew upgrade timetrace` again - maybe you could verify that everything works for you now.

[2021-06-04 20:41] udayravuri commented on #102
I'm outside, will take about 3 hrs. Will post update as soon as I get home.
Thank you!!

On Fri, Jun 4, 2021, 12:07 PM Dominik Braun ***@***.***>
wrote:

[2021-06-04 23:39] udayravuri commented on #102
@dominikbraun, I'm unable to install v0.7.2 using brew upgrade, please see below:
ELSML03UR088T:~ ur088t$ brew upgrade timetrace
Error:
  homebrew-core is a shallow clone.
  homebrew-cask is a shallow clone.
To `brew update`, first run:
  git -C /usr/local/Homebrew/Library/Taps/homebrew/homebrew-core fetch --unshallow
  git -C /usr/local/Homebrew/Library/Taps/homebrew/homebrew-cask fetch --unshall

[2021-06-05 08:09] dominikbraun commented on #102
This seems to be an Homebrew issue not related to timetrace. See here: https://github.com/Homebrew/brew/issues/9420

[2021-06-05 08:47] aligator commented on #91
As I have currently broken internet, I did not do much.
What I did so far is using timetrace as lib and implement the filesystem interface by a fake-clockify filesystem. Some parts I had to alter in timetrace to make this work.

But this approach has the downside, that you have to create a new timetrace binary for each combination of plugins. I don't think thats feasible when we want to support se

[2021-06-05 09:45] aligator commented on #91
Just found https://github.com/hashicorp/go-plugin
Seems to be stable and widely used. But I am not sure how good it works with a one-shot comand such as timetrace.

The idea with stdin / stdout will only work with plugins which live only as long as the timetrace comand runs. So in case of the notification timer it's maybe not the best way.

[2021-06-05 11:17] dominikbraun commented on #91
BTW, kubectl plugins could be an interesting take as well: https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/

[2021-06-05 14:00] aligator commented on #91
I am playing around now with creating a POC plugin framework based on the stdin / stdout.

[2021-06-05 16:22] aligator commented on #91
Here the POC https://github.com/aligator/goplug
Currently you can provide commands the Plugins can call and also send events, the plugins can listen to.

To use goplug you basically have to create a struct which inherits goplug.Plugin and add Methods which just use  `RegisterCommand` or `Send` to provide custom commands or events.

Then the plugin just has to create an instance of this struct and

[2021-06-06 10:49] #38 closed

[2021-06-06 15:52] aligator commented on #91
@dominikbraun What do you think about  #104?

[2021-06-06 18:10] dominikbraun commented on #91
@aligator Thanks for your effort, I'm going to take a look at it.

[2021-06-06 18:41] #98 closed

[2021-06-06 18:41] #101 closed

[2021-06-07 05:41] #27 closed

[2021-06-07 05:48] dominikbraun opened #105 "`timetrace status`: Display break time without seconds"
At the moment, the break time displayed on `timetrace status` includes seconds:

[code]

Since timetrace doesn't deal with seconds at least from a user perspective, the output here should be `0h 0min` instead.

There's probably a way to format this using the `Formatter` type. You can get a ready-to-use instance using `Timetrace.Formatter()`.

[2021-06-07 08:55] #85 closed

[2021-06-07 08:57] dominikbraun commented on #58
Hi @obnoxiousnerd! Any updates on this one? If you don't have the capacities for finishing the issue, just let me know 😄

[2021-06-07 09:10] obnoxiousnerd commented on #58
@dominikbraun I was pretty busy recently. However, I do have some free time today, hopefully I will do it 😄

[2021-06-07 19:41] #58 closed

[2021-06-07 20:25] jrcasso opened #107 "Config YAML: support per-project configurations"
For contractors with a large number of projects, it would be nice to be able to configure per-project options.

[2021-06-07 20:26] jrcasso opened #108 "Config YAML: Support default billable"
As a user, there are some projects I work on which are _always_ billable. I'd like to be able to start work on these projects without having to pass `--billable` every time I work on it.

Related issue: #107

[2021-06-08 05:50] dhanushsr commented on #105
Hey, I would like to contribute to this. Can you please assign this to me.

[2021-06-08 05:53] dominikbraun commented on #107
Thanks for this feature request! Absolutely makes sense.

---

To solve this and #108, it would probably be sufficient to create a new `config.Project` type that stores per-project configuration. Those project configurations could then be stored as a map in `config.Config` with the map key corresponding to the project key:

[code]

This would allow the YAML configuration to look as follows:

[code

[2021-06-08 05:56] dominikbraun commented on #42
Hi @Eddie023! Any updates on this one? If you don't have the capacities to do this issue at the moment, just let me know.

[2021-06-08 06:40] #53 closed

[2021-06-08 06:41] dominikbraun commented on #84
I'm going to close this since we found a way to auto-generate docs. The subsequent issue is #87. Thanks again for figuring this out!

[2021-06-08 06:41] #84 closed

[2021-06-08 19:36] sfrique opened #109 "Idea: Add Starship integration/Status"
Hello folks,

I used `watson` tool from time to time, but it's python and it keeps breaking because of some dependencies from time to time.

Looking for other tools I found `timetrace`  and others like  [rtw](https://github.com/PicoJr/rtw) and [timetracking](https://github.com/hardliner66/timetracking)

`timtrace` seems very active and I have like golang over rust, also this seems to have a better

[2021-06-08 20:39] dominikbraun commented on #109
Thanks for filing this issue! This seems to be the same requirement as #94.

[2021-06-08 20:46] sfrique commented on #109
I found that issue but forgot to add it to the description.

The purpose seems to be the same, but the implementation is different.

I can also try to add `json` as an output, but I think would be best to implement it in a separated pull request right?

[2021-06-08 20:52] dominikbraun commented on #109
In my opinion, it would make sense to add a `--output` (short `-o` flag) that accepts `json` as a value to solve #94. This is also the way [records will be displayed as JSON/CSV](https://github.com/dominikbraun/timetrace/issues/88#issuecomment-850388905). To solve this issue, an additional `--format` flag would make sense.

[2021-06-09 05:38] dominikbraun commented on #94
We're planning to implement this feature as an `--output` (short `-o`) flag that accepts `json` as a value:

[code]

This would exactly match the way we'll be printing reports as JSON/CSV, see https://github.com/dominikbraun/timetrace/issues/88#issuecomment-850388905.

The `--format` flag will be introduced by #109, and it allows to specify a custom output format.

[2021-06-09 07:19] dominikbraun opened #110 "`timetrace delete` commands: Default to `no` when asking for confirmation"
When running a `delete` command, the user will be asked for confirmation:

[code]

The input has to be exactly `n` or `y`. This is done using `askForConfirmation()`.

---

However, it would make sense to default to `no`.
* The message should look as follows. `Please confirm [y/N]:`
* The function should just check for `input == "y"` and ignore anything else.

[2021-06-09 10:59] dominikbraun commented on #57
Hi @commarla,

[timetrace v0.9.0](https://github.com/dominikbraun/timetrace/releases/tag/v0.9.0) has just been released. The total time tracked for a specific day can now be displayed using `timetrace list records`:

<img width="654" alt="Bildschirmfoto 2021-06-09 um 12 57 56" src="https://user-images.githubusercontent.com/36575275/121342900-6aa1ed00-c922-11eb-8a45-ee329c10f6bd.png">

The more det

[2021-06-09 11:01] commarla commented on #57
Nice, thanks for the update.

[2021-06-09 11:20] carnevlu opened #111 "[feature-request] enable push of the data to a remote server (git)"
## Story
As a normal user,
I want to sync over a private/public repo my time tracking data
for security reason and for share with the team.

## Comment
You store the data under `~/.timetrace/` it'll be possible to:
- add a command `timetrace sync config`, to guide the user in the configuration (git init, remote and first commit) of the data [some params can be: branch, subpath]
- add a command `ti

[2021-06-09 11:49] dominikbraun commented on #111
@aligator PTAL
Possible implementations:
* As an timetrace extension (see #104)
* As a command that configures a system CronJob

[2021-06-09 12:27] Eddie023 commented on #42
@dominikbraun Sorry got caught up work so working only on the weekends. I will send you draft PR by this weekend and you can decide what to do.

[2021-06-09 12:40] Br1ght0ne opened #112 "Packaging for Windows with Scoop"
Nice project! I went ahead and packaged it in [my Scoop bucket](https://github.com/Br1ght0ne/scoop-bucket/blob/master/timetrace.json).

To install it with Scoop:

[code]

You can add that to README if you want to.

[2021-06-09 13:36] dhanushsr commented on #105
@dominikbraun I have a doubt regarding the implementation. As I can see from the code, a common method `formatDuration` is used for format duration, which is used for all `todayTime`, `currentTime` and `breakTime`. So should this be just for break time or for all of them?

[2021-06-09 14:04] dominikbraun commented on #105
To be honest, I'm not sure why the output is different even though the same function is being used 🤣 The output should just always be `2h 20m`, not `2h 20m 20sec` - I don't really mind about how you achieve this. You may change the output of `breakTime` or all of them if necessary.

[2021-06-09 15:35] dhanushsr commented on #105
Sure thanks. :) The logic is if `hours` and `minutes` are zero then show `0hr 0min x seconds` else show just `hours mins` . I will just remove the use of seconds all together.

[2021-06-11 01:01] sfrique opened #115 "Idea: Add tags"
Is there a plan to add tags?

They are some sort of modules. but we can add multiple tags to the same project/module like `watson` does.

So we can add additional information to the task been tracked.

For instance, when I am doing dev work for a project and I want to track down more than just submodules.

`timetrace start  module1@client +dev +python`
`timetrace start module1@client +docs`
`timet

[2021-06-11 10:51] FelixTheodor commented on #97
I would like to work on this one! :)

[2021-06-11 11:10] FelixTheodor opened #116 "Idea: Simplify record keys"
Currently, the only way to reference a record is its key: the specific time it has been started. This is laborious to write down number by number, or you need to copy paste it every time. We already have the latest alias, but maybe we could simplify this even more by letting the user reference a record of the current day by entering its "ID", that is already created on the fly via

[code]

I imagi

[2021-06-11 15:04] FelixTheodor opened #117 "Bug: start command does not allow flag -b"
The `start` command returns an error if you try to set billable on true:

[code]
I think this can be fixed by deleting one line, therefore I already created a PR for it. Please check if you can confirm the bug (maybe I miss something) and close the PR if its not reproduceable.

[2021-06-11 20:52] sfrique commented on #81
I also see that It does not update old records.

What I expected when I renamed a project, everything else would be renamed to use that new project, but when I list old records, It does still show old project name.

[2021-06-11 21:00] sfrique opened #120 "Idea: Default edit command should edit last entry"
Hello,

I think a good behavior for the user would be when running `timetrace edit`  without any arguments, it would open the current or the last (if no current) record, that way we can easily update the start or the end time for a record.

This helps a lot when you forget to start a record, and want to edit so the start time is lets say 5m before and also if you forgot to stop a task you can make

[2021-06-11 21:10] sfrique commented on #91
@FelixTheodor what do you think of adding also a notification if no tracking is happening?

So we would have a flag or something to also notify after a period of nothing been tracked. I am saying this cause I often forgot to START to track something rather than stoping it.

So we could have 3 ways:
- Notify asking if you are still working
- Notify asking if you are still doing nothing
- Notify bot

[2021-06-12 08:18] #105 closed

[2021-06-12 08:20] dominikbraun opened #121 "Create tests for `core/formatter.go`"
There should be Table Driven Tests for `core/formatter.go`. They should be structured similar to the tests in `core/timetrace_test.go`.

[2021-06-12 15:12] dominikbraun opened #122 "CI: Include list of files if `goimports` returns an error"
The CI job for checking the Go imports currently runs `! goimports -l . | read`.

This is a kind of hacky way to exit with status code `1` if `goimports -l .` lists files that are not imported correctly.

If the job fails, i.e. the exit code is `1`, the affected files that have to be formatted properly should be listed. The easiest way to do this should be to store the output of `goimports -l .` o

[2021-06-12 15:14] dominikbraun commented on #121
Note: Some tests for `Formatter` already are in `core/timetrace_test.go` and should be moved.

[2021-06-12 16:24] sfrique commented on #109
The basic implementation is merged: #114

[2021-06-12 16:24] #109 closed

[2021-06-13 11:41] dominikbraun commented on #109
@sfrique I opened a PR that documents the Starship integration: #124

Feel free to review it.

[2021-06-13 16:10] dominikbraun commented on #117
Not sure whether this is really a bug. AFAIK, boolean flags either have to be passed as `--billable` (or `-b`) or, if you want to enable/disable it explicitly, as `--billable=true` (or `-b=true`).

@aligator PTAL

[2021-06-13 16:14] dominikbraun commented on #115
@FelixTheodor, @rocar, @rknizzle, @aaronsheah, @joshuaherrera, @KonstantinGasser, @obnoxiousnerd, @aligator Maybe you got some suggestions for this one 😄

[2021-06-13 16:26] dominikbraun commented on #120
I've been in this situation as well. At the moment, `edit record` always edits the _end time_ with the `--minus` or `--plus` flags. It is possible to edit the start time manually, but this currently doesn't rename the record file (see #89), which I'd recommend to do manually if you edit the start time.

However, there's #97 (which is addressed by #118). This would replace your `timetrace start pro

[2021-06-13 17:04] KonstantinGasser commented on #115
I like the idea of it that records can have tags in addition the the project name and a project module. However I feel it would make sense to only have a max. of 2-3 tag per record and not an arbitrary amount - that way record tags would reflect the actual things done during the record (`dev` `golang`)  and modules allow to organise on a higher level. They both would not overlap then, right?
So in

[2021-06-13 18:29] aligator commented on #117
@FelixTheodor
Thanks for the PR, but actually @dominikbraun is right. With your solution it only works because the short-boolean-flag only looks for "existence" of the flag.
So `./timetrace start test -b true` works just because the `-b` exists and not because `true` is set.
You can check that using your branch:
running `./timetrace start test -b false` still creates a billable=true record.

--> C

[2021-06-13 19:50] sfrique commented on #115
So to add more information to a given record, could we also add `description` ?

Let's say you work as a salesperson, you have a bunch of sales calls to make, but making the person you calling as a `tag` maybe to overkill right? So you could add this info in a description field for a given record.

`timetrace start calls@sales +companyX -d 'Calling Jane Doe, she's the supply manager at Company X `

[2021-06-14 12:49] Eddie023 commented on #42
@dominikbraun Sorry that I wasn't able to do this issue this weekend as well. Had some personal work pulling me. I don't want to extend this issue any longer so I will just unassign myself. Again, sorry for not getting this issue through.

[2021-06-14 12:51] dominikbraun commented on #42
No problem, thanks for the update! 👍

[2021-06-14 18:10] dominikbraun commented on #112
Thanks for packaging timetrace! I'll create a PR that updates the installation instructions.

[2021-06-14 21:20] joshuaherrera commented on #81
@dominikbraun I'd like to handle this issue, can you assign this to me?

Also, can you think of a more optimal way of renaming the projects on the records, aside from looping through each date folder and .json file?

[2021-06-14 21:20] joshuaherrera commented on #89
@dominikbraun I can handle this issue, can you assign it to me please?

[2021-06-15 05:40] dominikbraun commented on #81
Unfortunately not... 🤔

[2021-06-15 07:26] dominikbraun opened #127 "timetrace v0.13.0"

[2021-06-15 07:42] dominikbraun opened #128 "`timetrace status`: Implement `--output` flag for printing JSON"
The `timetrace status` command should accept a `--output` (short `-o`) flag that currently accepts `json` as a value. If that `--output=json` option is set, the status should be displayed as JSON, not as a table.

This is the second step of resolving #94.

[2021-06-15 09:46] #112 closed

[2021-06-15 11:02] aligator commented on #81
* Could we add something like an "index" file for each project where all files are listed that are part of the project?
* It would be easier if the files would use an ID instead of the project name.

Was your intention that the files are human readable? Or doesn't that matter?

[2021-06-15 11:20] dominikbraun commented on #81
If I'm not missing something, it doesn't really matter. My suggestion would be to implement it as @joshuaherrera said, find a well-designed solution in the meantime and then migrate to that solution in a later release.

[2021-06-15 15:05] #128 closed

[2021-06-16 09:59] dominikbraun commented on #94
Hi,

so [timetrace 0.10.0](https://github.com/dominikbraun/timetrace/releases/tag/v0.10.0) now supports the `--format` flag for printing the status in your custom format and the `--output` flag for specifying JSON as output format.

You can find the available formatting variables and further examples in the [`status` command reference](https://github.com/dominikbraun/timetrace#print-the-tracking-s

[2021-06-18 05:27] #94 closed

[2021-06-18 05:32] dominikbraun commented on #116
I had the exact same idea in mind since copying the record key can be a bit tedious.

The only concern I have is that if you list the records, stop tracking and start again and then edit a record based on the output of `list records`, the edited record will be a different one. Same goes for repeating an `edit record` command if a new record has been created in the meantime.

The solution to this p

[2021-06-18 05:36] dominikbraun commented on #120
Regardless of the `create record` command which will be released with timetrace v0.11.0 within the next days, editing the last record if no record key is given would be a good match for the change introduced by #125, which will `list records` of the current day if no date is given. So I'd be open to this change 👍

[2021-06-18 05:37] dominikbraun commented on #102
Going to close this since timetrace seems to work fine and we didn't have any complaints anymore. Feel free to re-open this issue or file a new one if you have problems!

[2021-06-18 05:37] #102 closed

[2021-06-18 06:31] dominikbraun commented on #115
Descriptions for records definitively are an open ToDo. Tags are an interesting idea as well and they shouldn't be too hard to implement. I'll schedule them for timetrace v0.12.0 or v0.13.0.

[2021-06-18 12:22] FelixTheodor commented on #116
Ah, nice!
Yes, I see your point. Would you say 'to reverse the numeration of the records' should be handled as an own issue, or shall we keep both in this one, since they are closely related?
Either way, I have some spare time this weekend and would like to work on the feature :)

[2021-06-18 12:32] FelixTheodor commented on #116
Okay, since the reverse of the records is (as it seems) just a one-line-change, I guess we don't need a special issue for it - unless you know of some other parts of the code that rely on the numeration.

[2021-06-18 12:40] dominikbraun commented on #116
Yap, the numeration can be changed as a part of that issue.

[2021-06-18 15:24] FelixTheodor commented on #91
@sfrique I do like the idea! But I think it would then probably require a lot more work, especially if we want a systray and probably automatic start on start-up (I guess, otherwise the feature would not make that much sense if you still need to remember to start the reminder^^)?
And the extension would need to run in background all the time. At the current state, the notify command is still runni

[2021-06-18 23:17] akaszynski opened #132 "Times appear to be recorded in local timezone"
When changing timezones the results from `timetrace list records today` do not change.  Times should be recorded in UTC and displayed relative to the current timezone.

[2021-06-19 11:34] dominikbraun commented on #132
Even though timetrace is still at v0.10.0, I'd like to maintain backwards-compatibility. So there are two options to switch to UTC:
* Store everything in UTC in the future. When reading "legacy" records, detect whether they are UTC or not and convert them if necessary.
* Introduce a configuration value for using UTC and assume UTC or not depending on that configuration. Maybe implement a migration

[2021-06-19 12:39] FelixTheodor commented on #117
Ah, I see! Thanks for the explanation, @aligator @dominikbraun

[2021-06-19 12:39] #117 closed

[2021-06-20 19:31] jrcasso commented on #107
@dominikbraun Yep, approach LGTM!

[2021-06-21 08:59] Kevin-Mok opened #135 "Shell completions"
## Expected Behavior
`timetrace completion [bash|zsh|fish]` should be able to generate a completion file for me in that respective shell.

## Current Behavior
This is not an existing feature that I know of.

## Implementation
cobra can [generate shell completions](https://github.com/spf13/cobra/blob/master/shell_completions.md##generating-shell-completions).

## Notes
Personally, I use the [`fish`

[2021-06-21 09:01] Kevin-Mok commented on #135
@dominikbraun This can be assigned to me, but I'm not sure when I'll get around to it. If anyone else wants to take it on, that'd be cool too.

[2021-06-21 09:02] Kevin-Mok commented on #135
Also I guess enhancement label can be applied?

[2021-06-21 09:03] dominikbraun commented on #135
@Kevin-Mok Feel free to work on it when it suits you 😄

[2021-06-21 18:02] KonstantinGasser commented on #121
I started with writing some test cases for `formatter.go` and moved the one test case in `timetrace_test.go` to `formatter_test.go`. Now I am wondering if we should provide a mock-up for the `FileSystem` in order to actually test the `timetrace.go` - is there a convenient way to mock this `FileSystem`, do you have some experience with mockups you can share with me?

[2021-06-21 18:21] dominikbraun commented on #121
Absolutely: I planned to migrate to [afero](https://github.com/spf13/afero) for accessing the filesystem but didn't have the time yet. First, add a field of the type `afero.Fs` to the `fs.Fs` type and extend the `New` function appropriately. Then replace all calls to `os` with calls to that `afero.Fs`. Finally, pass `afero.NewOsFs()` to `fs.New`  in the main program and `afero.NewMemMapFs()` in th

[2021-06-21 19:20] KonstantinGasser commented on #121
That's a pretty cool library, thanks for the tip! I will work on that today/tomorrow.

[2021-06-21 19:26] KonstantinGasser commented on #121
I think I will provide the implementation of the `afero fs` in a separate PR - might be better to separate these changes from the tests

[2021-06-22 16:40] satiowadahc opened #136 "Man Page"
Being lazy and don't want to clone the repo, feel free to add it in.
Save this excerpt as timetrace.1
gzip timetrace.1
sudo cp timetrace.1.gz /usr/share/man/man1/timetrace.1.gz
[code]

[2021-06-22 16:40] satiowadahc commented on #136
output:
[code]

[2021-06-22 16:45] Kevin-Mok commented on #136
I wonder if this can be somewhat auto-generated with Cobra like in #84 and worked into the CI? @obnoxiousnerd

[2021-06-22 16:51] satiowadahc commented on #136
IMHO its nice to have something quick and at a glance, add it first, automate later.

In regards to automation Most projects I work on have the options, version, and date automated and the rest manually entered.

[2021-06-22 17:05] Kevin-Mok commented on #136
Makes sense.

I'm thinking something like a `man` page template in Go where options, version, and date can be inserted.

[2021-06-22 17:47] dominikbraun commented on #136
@aligator PTAL

[2021-06-22 18:55] aligator commented on #132
I would say we should add an automatic conversion which is run the first time someone uses timetrace in the new version. (we can add something like a file with a version number somewhere in the .timetrace folder to indicate a new file-format.

As I recently had a similar requirement at my daily work, I noticed some things to be aware of when using UTC in the "backend" and any localtime in the fron

[2021-06-23 12:14] #97 closed

[2021-06-23 12:36] dominikbraun opened #137 "`report` command: Rename `--format` flag to `--output`"
The `timetrace report` command has a flag called `--format` for specifying the output format, e. g. JSON.

However, since #114, the `timetrace status` command has a `--format` flag for specifying a custom output format and uses a flag called `--output` for specifying JSON as output format.

**How it is**

|Command|Flag|Description|
|-|-|-|
|`status`|`--output`|Output format, e.g. JSON|
|`status`|`

[2021-06-23 12:38] dominikbraun commented on #137
@KonstantinGasser Sorry for not making this clear when you worked on the report feature, but we had to find a name for the status `--output` flag first.

[2021-06-23 12:45] KonstantinGasser commented on #137
Oh I see - yes makes senes to keep the logic the same way. Sure, I will change that and create a PR 😄. That also means that the `report` command does not need a `--format` flag. The `--out` flag for the output file name however can stay the same?

[2021-06-23 12:49] dominikbraun commented on #137
I'm afraid that an `--output` flag with a coexisting `--out` flag will be a bit confusing, but I don't know a better name 🤔

[2021-06-23 12:50] KonstantinGasser commented on #137
how about a `--file` flag to specify the output file?

[2021-06-23 13:01] KonstantinGasser commented on #137
@dominikbraun I opened a PR with the aligned naming convention.

[2021-06-23 13:05] dominikbraun commented on #137
I also thought about `--file` or `--path`. Feel free to pick the one you prefer if you want to :-)

[2021-06-23 13:10] KonstantinGasser commented on #121
I have found a couple of places in `record.go` and `timetrace.go` where we also rely on the `os` or `ioutil` module. For the sake of segregation I will append the `timetrace.Filesystem` interface so all communication with the `Filesystem` will be done via this interface.

[2021-06-26 06:43] dominikbraun commented on #137
Closed by #138.

[2021-06-26 06:43] #137 closed

[2021-06-26 06:56] dominikbraun opened #139 "Replace calculations of record durations with new `Duration` method"
There are at least two places in the code where the duration of a record (e.g. 2h if the record started at 2PM and ended at 4PM) is calculated like so:

[code]

Those calculations should be replaced with a new `Duration` method:

[code]

The implementation of that method would just be something like this:

[code]

[2021-06-27 14:25] maniowy commented on #88
Hi all,

two ideas for `timetrace report`:

* can we have a `--nonbillable` / `-B` flag for non-billable entries (the opposite of `--billable` / `-b`)?
* are there plans for `--project` to include project modules?  Currently (`v0.11.0`) modules are not included when `--project` is present. Could be done with another flag (`--modules` / `-m`).

[2021-06-27 18:35] dominikbraun opened #140 "Include project modules in reports when using the `--project` option"
Currently, project modules don't seem to be included when generating a report using `timetrace report` and specifying a `--project` filter. The logic for including modules of a project already exists for `timetrace list projects` - maybe this can be re-used.

[2021-06-27 18:38] dominikbraun opened #141 "Create `--non-billable` flags for commands that have the `--billable` flag"
Some commands support a `--billable` flag to only list records that are marked as billable. There should be a corresponding `--non-billable` flag (does somebody have a better name?) for those commands too, which only lists non-billable records. This is particularly important for `timetrace record`.

[2021-06-27 18:38] dominikbraun commented on #88
@maniowy Thanks for your suggestions! They both make sense and I created two issues for them: #140 and #141.

[2021-06-27 19:48] KonstantinGasser commented on #88
just opened a PR closing #141

[2021-06-27 20:01] KonstantinGasser commented on #140
So currently `report` lists projects and their submodules as different rows in the report. I guess the idea is to have the project as parent row with all its submodules? And the filter would look like `-p grind@make-coffee` filtering for only records belonging to the `make-coffee` project and `grind` module, right?

Also this means, that the table needs to be appended with a `module` column, right

[2021-06-27 20:47] KonstantinGasser commented on #88
also create a PR for filter by module, closing #140

[2021-06-27 20:51] KonstantinGasser commented on #141
I opened a PR for this issue.

[2021-06-27 20:52] KonstantinGasser commented on #140
I opened a PR for this issue.

[2021-06-27 21:15] dominikbraun commented on #140
I have yet to think about this tbh, but this doesn't sound bad.

[2021-06-27 21:20] KonstantinGasser commented on #140
In the PR I have provided some sample outputs to get a touch and feel. I think it somehow makes to provide this in the report sense since `timetrace` does support modules..

[2021-06-28 15:42] jwnpoh commented on #110
Hello, may I take this up?

Am I correct in my understanding that this issue just requires some work specifically on `askForCorfirmation()`?

[2021-06-28 16:36] jwnpoh commented on #110
Hello, I was looking at cli/delete.go and noticed that `askForConfirmation()` is only used in `delete record` but not `delete project`. Is this by design, or should `delete project` also include a prompt for confirmation?

[2021-06-28 16:51] dominikbraun commented on #110
Absolutely. I think this is the only place where the user is asked for confirmation.

Good point, the user should probably prompted for confirmation when deleting a project as well!

[2021-06-29 14:15] dominikbraun opened #145 "`timetrace create record` panics because of nil pointer dereference"
There seems to be a bug in the `timetrace create record` command:

[code]

The error occurs in `timetrace.go:306`, which is the `collides` function checking a value that is `nil`.

https://github.com/dominikbraun/timetrace/blob/0c9984c41fcf1e50ac4eb467dc4c0be993bbd44a/core/timetrace.go#L298-L312

I suspect that `rec.End` is nil here because my latest record hasn't been stopped yet:

[code]

Checki

[2021-06-29 15:02] alksmt commented on #139
Hey, created a pull request for it including one more use case.
Along with usage of `record.end.sub(record.start)` there were cases for records being tracked at the moment, this method will handle it too now.

[2021-06-29 15:38] jwnpoh opened #148 "Minor typo in README for Create a record syntax"
Should the snippet directly under the Syntax heading be `timetrace create record ...` instead of `timetrace record ...`?

[2021-06-29 16:59] dominikbraun commented on #148
Yes, this should actually be `timetrace create record` of course.

Feel free to file a PR if you'd like to fix this.

[2021-06-30 08:50] alksmt commented on #145
Is it supposed that a record could be created in future? If so, we are having a second issue: when a record in future is created, and another record is on track now, it would potentially collide with each other and we will end up with overlaping records.

As a solution, records in future could be rejected or rejected only if another record is still on track, but with the second way potential overl

[2021-06-30 08:57] dominikbraun commented on #145
I think it would make sense to reject records in the future so that records can only be created retroactively. You may open an issue for this topic if you want to, otherwise I can do it 😄

[2021-06-30 09:00] alksmt commented on #145
Will create one 👍

[2021-06-30 11:07] alksmt commented on #145
Created PR for this bug, with some simpification for collides check, going to also handle future records rejection in new issue.

[2021-06-30 11:12] alksmt opened #151 "Check if a new record created happend before current time."
As was mentioned in #145 there is a potential issue while adding a record with dates in future.
Going to add validation and reject new record creation if it was started or finished after current timestamp.

[2021-07-02 16:31] jwnpoh opened #154 "Use case for timetrace get?"
Hi there,

Wondering what's the intended use case for `timetrace get`? The logic of this command seems circular to me: the output displays the key, but I would already have known the key in order to use the command in the first place.

Thanks!

[2021-07-02 21:33] dominikbraun commented on #154
Hi,

you're right that there currently is little value in running `timetrace get record` compared to `timetrace list records`. This is because at the moment, all data stored for a record is already displayed in the table printed by `list records`.

However, this could change in the future: There might be data added to a single record, e.g. tags or descriptions (see #115), which will not be display

[2021-07-03 13:35] jwnpoh commented on #154
Yes, that makes sense now. Thanks!

[2021-07-04 07:30] #154 closed

[2021-07-04 07:34] #148 closed

[2021-07-04 17:15] jwnpoh commented on #87
Hello! I was experimenting with this and Cobra's `doc.GenMarkdownTree`.  Here are some observations for your consideration:

1. It seems that where there's both `Short` and `Long`, the cli help message will only display the `Long` version.
2. The auto generation script works and generates the Markdown documentation we desire. This is a sample cobra-generated `timetrace_delete_project.md`:
![image]

[2021-07-04 17:34] obnoxiousnerd commented on #87
@jwnpoh Maybe for .Short to appear in the docs, you might need to [customize](https://github.com/spf13/cobra/blob/master/doc/md_docs.md#customize-the-output) it.

[2021-07-04 18:00] dominikbraun opened #156 "Proposal: Project references"
# The problem

When renaming a project, the project file - whose name corresponds to the project key - will be renamed as well (see #81). The project key is also stored for each record associated with that project. At the moment, when renaming the project, all project keys in the record files have to be renamed. In other words, renaming a project involves traversing and editing all record files si

[2021-07-04 21:11] dominikbraun commented on #81
So my solution to this can be found in #156.

[2021-07-05 01:52] jwnpoh commented on #87
@obnoxiousnerd I'm not sure if the intention is to include both `.Short` and `.Long` in the docs. My understanding of this issue is that @dominikbraun was hoping that populating `.Long` in the code itself can facilitate easier updating of docs when the different functions of the app gets updated.

Please correct me if I'm wrong?

[2021-07-05 07:06] #145 closed

[2021-07-05 07:10] #151 closed

[2021-07-05 18:02] jwnpoh commented on #74
Hello, may I have a go at this?

[2021-07-05 19:33] dominikbraun commented on #74
Of course!

[2021-07-07 18:10] jwnpoh opened #161 "`timetrace report` displays deleted records"
Hello! I have observed that `timetrace report` currently lists records that have been deleted. Is this the intended behaviour? If it is not, then I would like to propose two fixes:

1. `delete project` should also delete records with the associated project key.
2. `timetrace report` should ignore record files that have the `.bak` suffix.

[2021-07-07 18:55] dominikbraun commented on #161
Actually, this should already be the case... 🤔 @KonstantinGasser Do you know something about this?

[2021-07-07 19:20] KonstantinGasser commented on #161
@dominikbraun the `filter functions` actually do not account for `.bak` files, since they where added in a later stage if I am correct. But fixing this should not be an issue and I will prepare a PR later tonight to fix the bug.

[2021-07-07 19:57] dominikbraun commented on #161
Ok, so what about @jwnpoh implementing suggestion 1* and @KonstantinGasser implementing suggestion 2?

* In my opinion, deleting all records of a project when deleting the project should be opt-in, because this is a pretty dangerous operation. Maybe we could add a `--delete-records` flag to the `delete project` command that requires an additional confirmation.

[2021-07-07 20:29] KonstantinGasser commented on #161
@dominikbraun yes we can split that into two PRs, sounds good.

Regarding your second point - I agree that blindly deleting all records is not a good UX, a user should explicitly tell that all records should be deleted.

[2021-07-08 01:49] jwnpoh commented on #161
Should the user input be in the form of a flag or a confirmation/option prompt? Or maybe both.

Printing a prompt if there is no `--delete-records' flag would take care of the possible user who may not be aware that records are not deleted by default, or that records are decoupled from projects. What do you think?

[2021-07-08 05:57] dominikbraun commented on #161
I'd say both.

[2021-07-09 18:48] jwnpoh opened #163 "Duplicate code found in `core/record.go`"
Hello! It seems like there are two functions in `core/record.go` that do the same thing, `ListRecords` and `loadAllRecords`.

Being new to programming, I am not sure if this is a feature or bug :confused:

[2021-07-09 19:08] dominikbraun commented on #163
You're right, those two functions seem to do the exact same things. Thanks for noticing this!

`ListRecords` is the public method that is used by outside callers - in our case, the `cli` package` - to get a list of records. `loadAllRecords` is an internal method that is used by other internal methods. The best solution to approach this is to remove the _implementation_ of `ListRecords` and call `l

[2021-07-09 23:25] krishnaindani commented on #163
Is this issue open to work, I would like to take a stab at it?

[2021-07-10 01:04] jwnpoh commented on #163
May I ask why this is preferable to simply removing the unexported function?

[2021-07-10 07:34] dominikbraun commented on #163
`ListRecords` provides the `timetrace list records` feature. At the moment, it does the exact same thing as `loadAllRecords` and nothing more. But what if the `timetrace list records` command requires some additional logic or validations in the future? In that case, if you would just have removed `loadAllRecords` and use `ListRecords` instead, this additional logic and validations would be execute

[2021-07-10 07:35] dominikbraun commented on #163
Yes, this is a good issue for getting started - are you ok with this, @jwnpoh?

[2021-07-10 08:43] jwnpoh commented on #163
So, in a sense it's about "future-proofing" with a basic architecture that will be able to support additional functionality that will be built in the future.

Sure thing! Please go ahead and assign this to @krishnaindani.

[2021-07-10 13:33] krishnaindani commented on #163
Thank you. I will go through this and post if I have a questions.

[2021-07-10 22:02] krishnaindani commented on #163
@dominikbraun I have created the PR https://github.com/dominikbraun/timetrace/pull/164, let me know what do you think.

[2021-07-13 06:04] dominikbraun commented on #163
Closed by #164. Thanks, @jwnpoh and @krishnaindani!

[2021-07-13 06:04] #163 closed

[2021-07-26 20:30] dominikbraun commented on #140
Closed by #143.

[2021-07-26 20:30] #140 closed

[2021-08-01 13:35] dominikbraun opened #168 "Implement `--non-billable` flag for `timetrace start`"
At the moment, billable records can be created using `timetrace start my-project --billable`. With PR #166, project records can be billable by default:

[code]

Using this config, `timetrace start my-project` will produce a billable record.

But if `my-project` is configured to be billable by default, there also has to be a way to create non-billable records for that project. This should be possib

[2021-08-01 13:51] obnoxiousnerd commented on #136
Hey guys! I've been observing the conversation, however, I've been busy for a while, so couldn't help in anything. Borrowing from @Kevin-Mok's idea, using [Cobra's man page creation](https://github.com/spf13/cobra/blob/master/doc/man_docs.md) for generating documentation of all the commands, and then inserting them with version/date in a template should suffice our use case.

[2021-08-01 13:57] dominikbraun commented on #136
@obnoxiousnerd Do you have experience in creating those man pages using Cobra? It looks pretty good to me and we really need man pages. 🤔

[2021-08-01 14:19] #107 closed

[2021-08-01 14:19] #108 closed

[2021-08-03 05:12] obnoxiousnerd commented on #136
I have experience of only reading man pages 😅. But creating them seems doable by looking at the API. I'll try.

[2021-08-03 11:30] RedemptionC opened #169 "why is the output of version command "UNDEFINED"?"
https://github.com/dominikbraun/timetrace/blob/564a621b8a0d942652b39125964f7945bd4df83a/main.go#L13

[2021-08-03 11:39] dominikbraun commented on #169
Hi,

the source code itself does not know what version it is. Instead, the version number is injected when building the timetrace binary on a new release:

https://github.com/dominikbraun/timetrace/blob/564a621b8a0d942652b39125964f7945bd4df83a/.circleci/config.yml#L76-L78

As a result, when running the version command from source, the output will be `UNDEFINED` - but when running the version comma

[2021-08-03 11:56] RedemptionC commented on #169
I installed timetrace using
[code]
and then I run `timetrace version`,it says:`💡 timetrace version UNDEFINED`
is this behavior reasonable?
or should I use other method to install,so that it can print proper version?

[2021-08-03 12:22] dominikbraun commented on #169
Ah, I see. This is probably because the version information is not yet available in the [Snap configuration](https://github.com/dominikbraun/timetrace/blob/main/snapcraft.yaml). Snap directly builds timetrace from source.

Gonna create an issue for this :-)

[2021-08-03 12:25] dominikbraun opened #170 "Snap: Include version information"
Based on #169.

Any version information currently is injected by the CircleCI pipeline when creating a new release. There's no version information within the source code.

However, Snap builds timetrace from source. Therefore, no version information is contained in the binary built via Snap.

We should make the current version available in `snapcraft.yaml` - maybe by setting an environment variabl

[2021-08-03 12:29] RedemptionC commented on #169
got it
thanks for your quick reply
But it seems there are no realease directly available to ubuntu 20.04 LTS user,say,using apt?

[2021-08-03 12:31] dominikbraun commented on #169
Yes, there are no apt releases yet. In that case, you'd have to directly [download the binary](https://github.com/dominikbraun/timetrace#binary) or [run it in Docker](https://github.com/dominikbraun/timetrace#docker).

[2021-08-03 12:35] dominikbraun opened #171 "Publish timetrace as DEB package"
Based on #169.

timetrace should be available as DEB package in an own repository or even in the Debian archive. @aligator PTAL

[2021-08-03 12:37] RedemptionC commented on #169
a binary is good for me
Thanks again :)

[2021-08-03 12:42] dominikbraun commented on #169
I've created #171 for making timetrace available via apt in the future. 😄 Going to close this issue in turn, feel free to re-open it for further questions on this matter.

[2021-08-03 12:42] #169 closed

[2021-08-03 13:25] RedemptionC commented on #169
sure
love this project and I want to make some contribution to it
but currently I probably will focus on some golang-related issues

[2021-08-07 13:45] #141 closed

[2021-08-07 13:54] dominikbraun commented on #74
Resolved by #160.

[2021-08-07 13:54] #74 closed

[2021-08-08 12:30] #168 closed

[2021-08-08 17:09] jwnpoh commented on #156
Hello, with respect to to the disadvantage of approach 1, has a SQL-like implementation been considered? Without necessarily migrating to a database, we could implement something similar by maintaining a `projectsDB.json` file that contains a single json object of key:value mapping all project keys with their IDs. So instead of traversing all project files, opening them to determine their project

[2021-08-08 17:14] jwnpoh commented on #161
Should this issue be closed now, @dominikbraun?

[2021-08-08 20:29] dominikbraun commented on #161
@jwnpoh Yes, thanks for noticing.

[2021-08-08 20:29] #161 closed

[2021-08-09 14:27] dominikbraun commented on #156
@jwnpoh Yes, this is what I was thinking of. Would there be any difference between your approach and approach #3?

---

[2021-08-09 15:48] jwnpoh commented on #156
@dominikbraun  It does seem to be the same. Would I be correct in understanding that with approach #3, renaming a project would still require going through all the records and changing the project key in the record files, thereby still resulting in an O(n) complexity?

[2021-08-10 06:00] dominikbraun commented on #156
@jwnpoh In theory, no, because we'd store the project _IDs_ in the records, not the project keys. Renaming a project would just mean to remove the key from the index and create a new key that points to the project ID.

In practice however, I'm not sure how this could be done backwards-compatible so that old records with keys in them still work... 🤔

[2021-08-10 12:09] dominikbraun commented on #108
Hi @jrcasso, this feature is contained in [timetrace v0.13.0](https://github.com/dominikbraun/timetrace/releases/tag/v0.13.0). Per-project configurations are documented here: [Configure defaults for projects](https://github.com/dominikbraun/timetrace#configure-defaults-for-projects)

[2021-08-10 15:08] dominikbraun commented on #156
We could simply treat current project keys as those new numeric IDs and add the project key to the index.

For new projects:

[code]

For existing projects:

[code]

That way, the project ID lookup is the same.

[2021-08-12 04:11] jwnpoh commented on #156
This makes sense. I was confused by this line in the original proposal:

A suggestion to address the disadvantage stated here:

How about storing **both** the ID and the reference in the record files?
[code]
The ID would be used for lookup operations within timetrace, and the reference can be used for display operations like in `list records`.

[2021-08-12 04:39] jwnpoh commented on #156
This makes sense. I was confused by this line in the original proposal:

Can I clarify that this disadvantage:

results from the complexity of doing a "reverse lookup" in Go's map structure? Having to range through all the keys in the map to find a match for the value?

If so, would it make sense, to maintain a two-way map in `projectsDB.json`? Other than it being somewhat cumbersome and maybe req

[2021-08-12 09:59] dominikbraun commented on #156
Yes. And your approach where a two-way mapping stored would work fine - but I _think_ it would be ok to load the individual projects by ID and display their project key.

A two-way mapping would indeed remove the need for this as the project key would be directly available. However, this two-way mapping has to be taken into account by every command that adds, removes or changes a project key, whic

[2021-08-23 16:25] obnoxiousnerd commented on #136
Sorry, it's taking longer than expected. But hope we'll get this done. 🙂

[2021-08-27 21:46] dominikbraun opened #173 "Add more information to colliding records"
When running a collision check and finding an collision, the error isn't too verbose at the moment. It should contain information about the colliding records and instructions on how to fix the collision.

[2021-08-28 02:10] RedemptionC commented on #173
Hello,maybe I can try this

[2021-08-28 07:36] dominikbraun opened #175 "Remove `Formatter.FormatXx` methods"
Those 3 methods should be removed:

https://github.com/dominikbraun/timetrace/blob/8a8791acf3a7acbae8f2f0fe2029f8119a96b886/core/formatter.go#L95-L111

We should call `FormatDuration` directly with the respective `Record` field instead. This removes an unnecessary abstraction.

[2021-08-28 13:31] RedemptionC commented on #175
hello,maybe I can try this

[2021-08-30 06:45] #175 closed

[2021-09-04 08:51] KonstantinGasser commented on #121
Hi @dominikbraun, sorry for taking so long, had a lot of things going on in university.. I just came back to this issue and writing tests for the fs. One problem I see is that we are using the `os, ioutil` package in quite some places (`project.go`, `record.go` and `timetrace.go`) causing me quite some headache. IMO to test the fs it would be good to clearly separate the project, record and timetr

[2021-09-04 11:51] dominikbraun commented on #121
Hi @KonstantinGasser, yes, a stronger separation between the filesystem access and the business logic probably would make sense. On this occasion, we could also separate the `Filesystem` interface in more concrete interfaces: `ProjectFilesystem`, `RecordFilesystem` and so on. I think that doing so will make it easier to test the individual components.

[2021-09-04 12:20] KonstantinGasser commented on #121
Ok I will test out some implementations for that. I probably will also need to change the dependency injection then.
Since there will be a couple changes, I will create an incremental PR so it can be reviewed step by step.

[2021-09-04 16:51] RedemptionC opened #177 "Idea：consider adding feature for project management?"
like:
 how much time will this project take,what's the deadline
 so we can know how much time should we continue to put into this project,or how much time should we invest for one day
Or something like tomato clock is also useful,because it can help us focus and remaind us of making records

I have these ideas because I used to use an APP which provide these,but it's not open source,and is's not a

[2021-09-04 18:26] dominikbraun commented on #177
Adding information like how much time is left for a project would be a nice feature! I'm going to think about how this could be implemented exactly. Feel free to describe your particular use cases and ideas 👍

[2021-09-04 18:27] dominikbraun commented on #121
Yes, a rolling review would be nice here - and this probably will also affect some open PRs, hopefully the merge conflicts won't be too severe.

[2021-09-06 03:05] obnoxiousnerd commented on #136
I am close to generating the type of man pages we need, but I can't figure out what to put in the GenManHeader struct (https://pkg.go.dev/github.com/spf13/cobra/doc#GenManHeader). Can I get some help? 😅

[2021-09-07 11:49] dominikbraun commented on #136
@obnoxiousnerd I'd suggest to just set the `Title` field with `timetrace` as value and see what the result looks like (I neither know what we should use as `Section` field here) 😄

[2021-09-07 13:59] obnoxiousnerd commented on #136
Check out this script:
[code]

This works fairly well, but try running this and inspect the output since I don't really know how the docs should be.

[2021-09-07 17:30] mattkasun opened #179 "Feature Request: Decimal time"
rather than hour minutes display status/reports in decimal hours e.g. 1.2h vice 1h 13min.

[code]

[2021-09-12 20:56] #173 closed

[2021-09-12 21:07] #116 closed

[2021-09-13 05:36] RedemptionC commented on #177
@dominikbraun
Sorry for the late reply
I'd like to share my experience of using that APP:

## set goals
First,we add goals(like projects in timetrace),we can divide them into a habbit to develop or a goal to accomplish
If that's a habbit,we don't set deadline or how much time we will invest in that
If's that's a goal,such as passing an exam or learning something,we set deadline and approximately h

[2021-09-13 06:25] RedemptionC opened #181 "Idea: what's the proper way to input time duration when we add records?"
for now, I need to input start time and end time,it's somewhat tedious
how do you do this ?
maybe we could add a flag to enable us adding records by just providing a start time or a end time,plus a time duration?

[2021-09-14 06:54] dominikbraun commented on #181
So do you have those two possibilities in mind?

**By start + end time:**

[code]

**By start time + duration:**

[code]

If so, we could add the `--duration`/`-d` option and require that option if only one command argument - the start time - is given. However, `create record` should only be used to create belated records that you've forgotten to track, so in most cases you probably will know the

[2021-09-14 12:40] mattkasun commented on #179
Incorporated by PR #180

[2021-09-14 12:40] #179 closed

[2021-09-19 15:20] #115 closed

[2021-09-24 10:54] mattkasun opened #186 "Midnight rollover"
Status provides incorrect information if project tracking was started the previous day but not yet stopped.

[code]

[2021-10-01 09:03] dominikbraun commented on #139
Rssolved by #139.

[2021-10-01 09:03] #139 closed

[2021-10-01 09:10] dominikbraun opened #187 "Check record collisions when editing a record"
At the moment, record collision checks are only performed when creating a belated record using `timetrace create record` but not when editing an existing record.

This needs to be changed by calling `t.RecordCollides` when running `timetrace edit record`.

---

**What is record collision?**

Say you have 2 records:
* 3PM - 4PM
* 5PM - 8PM

And you want to insert a new one:
* 7PM - 9PM

This record

[2021-10-01 10:01] amoghrajesh commented on #187
@dominikbraun I am interested in approaching this problem. Could you let me know how I can onboard myself and guide me where to edit the code?

[2021-10-01 10:46] dominikbraun commented on #187
@amoghrajesh The code structure is pretty simple. All CLI commands, for example `timetrace edit record`, are in the `cli` package, and the files are named after the commands: All `edit` commands are in `edit.go`.

The `edit record` command is this variable:

https://github.com/dominikbraun/timetrace/blob/683e27d6caa067acce2b516106d85fab8ba3c2a6/cli/edit.go#L76-L122

The `Run` function contains the

[2021-10-01 10:50] amoghrajesh commented on #187
Can you assign this issue to me so that I can give it a shot? @dominikbraun

[2021-10-01 10:50] dominikbraun opened #188 "Limit tags for `timetrace start`"
The `timetrace start` command is used to start tracking time for a project:

[code]

In the current `main` branch, this command also accepts _tags_ to tag the tracked time:

[code]

The tags are prefixed with `+`, for example `design` or `frontend`.

At the moment, an arbitrary number of tags is allowed. **The number of those tags should be limited to 3.** If there are more than 3 tags, where shou

[2021-10-01 10:55] dominikbraun opened #189 "Remove exclamation mark (`!`) from error messages"
There are some error messages that end with an exclamation mark (`An error occurred!`). However, error messages in Go shouldn't end with a `.` or `!` and have to start with a lowercase letter: `an error occurred`.

Those error messages should be corrected.

**Note:** As this is an extremely simple task, please only pick it if you want to learn how PRs work. If you're more advanced, take a look at

[2021-10-01 11:06] dominikbraun opened #190 "Make help for `timetrace create record` sensitive for `use12hours`"
By default, timetrace uses a 24-hour-format: It uses `15:00`, not `3:00PM`. This can be changed by adding `use12hours: true` to the timetrace configuration.

If you want to know the syntax for `timetrace create record`, you can print the help. It has the following syntax:

[code]

**The problem:**

That usage help doesn't consider the `use12hours` setting. If the 12-hour-format is used, the `<HH:M

[2021-10-01 11:47] leandronogSS commented on #189
i would like pick up this issue

[2021-10-01 12:21] sudiptog81 commented on #190
Can work on this 👍

[2021-10-02 13:21] dominikbraun opened #196 "Migrate from CircleCI to Github Actions"
The CI/CD system should be migrated from CircleCI to GitHub Actions.

[2021-10-03 18:45] #189 closed

[2021-10-03 18:45] #187 closed

[2021-10-03 18:46] #190 closed

[2021-10-03 18:46] #188 closed

[2021-10-20 11:44] neotorben opened #198 "Runtime Error when using timetrace start"
If I use `timetrace start` with omitting the `<PROJECT KEY>` I get an `panic: runtime error: index out of range [0] with length 0` error.

Timetrace v0.14.0

[2021-10-20 12:38] dominikbraun commented on #198
Thanks for reporting this! Indeed, there should be a human-readable error message instead.

[2021-11-13 20:40] mattkasun commented on #196
I would like to help out with this.  I don't have tons of experience but I have set up a few GitHub actions.

[2021-11-14 10:01] dominikbraun commented on #196
Great! I'll enable GH Actions for this repository so we can get started.

[2021-11-14 10:04] dominikbraun commented on #196
So I enabled Actions and created the [default workflow](https://github.com/dominikbraun/timetrace/blob/main/.github/workflows/main.yml).

[2021-11-16 10:01] gegnew opened #202 "Tags don't show up in `timetrace report`"
It would be awesome to get a breakdown of the project by tag

[2021-11-30 01:58] c-nv-s commented on #88
will tags be/optionally be output with the report as well?

[2021-11-30 09:57] dominikbraun commented on #88
There's issue #202 for that. If no PR will be opened, I'll implement that myself within the next few days.

[2021-12-03 12:41] dominikbraun opened #203 "Check record collisions when editing a record"
At the moment, record collision checks are only performed when creating a belated record using `timetrace create record` but not when editing an existing record.

This needs to be changed by calling `t.RecordCollides` when running `timetrace edit record`.

---

**What is record collision?**

Say you have 2 records:
* 3PM - 4PM
* 5PM - 8PM

And you want to insert a new one:
* 7PM - 9PM

This record

[2021-12-23 20:48] daviddavid opened #207 "Update brew formula"
Currently, timetrace throws an error when you try to install it via brew:

[code]

This is because the brew formula is outdated:

[code]

Latest now points to `0.14.2` and has a different checksum than `0.14.1`.

[2021-12-23 22:12] dominikbraun commented on #207
Fixed it, now `brew upgrade timetrace` should update to v0.14.2.

[2021-12-23 22:12] #207 closed

[2022-01-20 21:23] dsa0x commented on #203
Hi. I am trying to work on this. Is there anything that uniquely identifies a record?

[2022-01-20 21:46] dominikbraun commented on #203
@dsa0x The unique identifier for a record is its timestamp (start time). Quite frankly, I think the only way to handle record collisions when editing a record manually is to wait until the user has saved the file (i.e. after the `t.EditRecordManual(recordTime)` call in `edit.go`), check for collisions, print an error if there is a collision and revert the file to the previous state so that the rec

[2022-01-20 21:58] dsa0x commented on #203
@dominikbraun I think so too. That's kinda what I did. I simply called `t.loadRecord`after `cmd.Run`, to fetch the file again, but if one edits the start time, then this timestamp changes, and it becomes impossible to track the record. Also, your suggestion might work if we assume that the startTime will not be changed. Is that safe to assume?

[2022-01-20 22:20] dominikbraun commented on #203
@dsa0x Right, that's an issue and there is PR #89 to fix this. Speaking of this PR, it probably would make sense to merge it before you implement the collision check...

[2022-01-20 22:22] dsa0x commented on #203
Okay. Cool. I'll wait then. In the meantime, you can assign me to this. Thanks

[2022-03-02 12:55] eyenx opened #209 "Feature Request: Add description field in records"
Hi

I want to submit a fetaure request. I know it has already been touched in #115 but at the end only tags were implemented.

I would love to have descriptions to the records timetrace creates. I"m also willing to contribute code to this project to make that happen.

Let me know if you are already working on this, or else I'll take up the task.

BR and thanks for this wonderful project!

[2022-11-11 15:40] wh75er opened #222 "[feature request] list records by specified range"
At the end of the week I like to make a summary on my project[s]. It would be handy to list records not only for a specific day, but for specified time range. I haven't found how to do it in the current version

---

### Usage example

`timetrace list records 0000-00-00 9999-99-99 -p foo`
will output all my records and total time spent in time range [0000-00-00, 9999-99-99] for foo project

### Im

[2022-11-11 21:58] dominikbraun commented on #222
Hi @wh75er, thanks for you feature request! I think this can be implemented in the timetrace core.

[2022-11-14 19:44] wh75er commented on #222
Well, I've made a research to implement this feature and found this one. I can list all records for the specified time range with

`timetrace report --start 0000-00-00 --end 9999-99-99`

This will list every information I needed. I think this issue can be closed

[2022-11-15 11:08] #222 closed